.navbar-fixed
    nav
        .nav-wrapper.blue.lighten-0
            a.brand-logo.center.hide-on-small-only(href='') Тестовая сеть
            ul#nav-mobile.left
                li
                    a(href='#netstat') Статус сети
                li
                    a(href='#faucet') Кран
                li
                    a(href='#explorer') Explorer
                li
                    a(href='#ide') IDE
            
            ul#nav-mobile.right
                li
                if authenticated
                    a#session_action_btn(href='/auth/logout')
                        i.material-icons.right.hide-on-small-only lock
                        | Выход
                else
                    a#session_action_btn(href='/auth')
                        i.material-icons.right.hide-on-small-only lock
                        | Вход