doctype html
html(lang='ru')
    include includes/head.pug
    body
        include includes/nav.pug
        .app

            .app-content
                include pages/faucet.pug
                
                #netstat-frame-wrapper
                    iframe#netstat-frame(style='position: absolute; width: 1920px; height: 100%; border: none;', onload="resize()", src='http://edu.trusted.ru:3002')
                #ide-frame-wrapper
                    iframe#ide-frame(style='position: absolute; width: 1920px; height: 100%; border: none;', onload="resize()", src='//remix.ethereum.org')
                #explorer-frame-wrapper
                    iframe#ide-frame(style='position: absolute; width: 1920px; height: 100%; border: none;', onload="resize()", src='//edu.trusted.ru:3003')

        script(src='js/jquery.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js')
        script(src='js/init.js')
