body {
    margin: 0;
    background-color: #eee;
}

.modal {
    width: 600px !important;
}

/* label color */

.input-field label {
    color: #2196f3 !important;
}

/* label focus color */

.input-field input[type=text]:focus+label {
    color: #2196f3 !important;
}

/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important;
}

/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important;
}

/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important;
}

/* icon prefix focus color */

.input-field .prefix.active {
    color: #2196f3 !important;
}

nav .nav-wrapper {
    z-index: 5;
}

nav .brand-logo {
    margin-left: 25px;
}

.app {
    display: flex;
    flex-direction: row;
}

.app-content {
    padding: 0px !important;
    min-height: 815px;
    width: 100%;
    /* position: fixed;
    top: 65px; */
}

.sidenav_bar {
    background-color: #fff;
}

.sidenav-item a {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 8px 0;
    font-size: 14px;
}