#faucet(hidden='')
    .container
        if authenticated
            #list-wrapper
                ul.collection.with-header
                    li.collection-header
                        h4 Список кошельков:
                    #addresses-list
            #add-wallet-modal.modal
                .modal-content
                    h4 Добавить кошелек
                    .row
                        .input-field.blue-text.text-lighten-0.col.s12
                        input#adress_field.validate(value='0x', type='text')
                        label.active(for='adress_field') Адрес
                    .modal-footer
                        div.modal-close.waves-effect.waves-green.btn-flat#address-modal__cancel Отмена
                        div.modal-close.waves-effect.waves-blue.blue.lighten-0.btn#address-modal__submit Добавить
            .fixed-action-btn
                a.btn-floating.btn-large.waves-effect.waves-light.red.modal-trigger(href='#add-wallet-modal')
                    i.material-icons add
        else
            .center
                h1.title Ethereum кран
                p Для получения токенов вам необходимо выполнить вход